<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "author" content = "Akhil Pandey , Raja Vijaya Saradhi, Om Bhallamudi">
    <meta name = "keywords" content = "GUSAC carnival 2015 gusac GITAM " >
    <meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

    <title><%= title %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../css/bootswatch.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/style_events.css">
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.js"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" >About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/workshops" >Workshops</a></li>
                <li><a href="/culturals" >Culturals</a></li>
                <li><a href="/ff" >Film Festival</a></li>
                <li><a href="/literary" >Literary Fest</a></li>
                <li><a href="/lectures" >Guest Lectures</a></li>
                <li><a href="/sponsors" >Sponsors</a></li>
                <li><a href="/register" >Register</a></li>
            </ul>

        </div>
    </div>
</div>

<br>

<header class="event-name-header">
    <h1>
        <%= eventname %>
    </h1>
</header>

<br>

<div class="container">
    <div class="col-md-6">
        <img class="img-responsive event-poster" src="../img/events/<%=imgname%>" >
    </div>

    <div class="col-md-6">
        <section class="cd-section">
            <p>
                <%= eventcontent %>
            </p>

            <div class="cd-modal-action">
                <a href="#0" class="btn" data-type="modal-trigger">More Details</a>
                <span class="cd-modal-bg"></span>
            </div>

            <div class="cd-modal">
                <div class="cd-modal-content">
                    <p class="text-success">
                        <%= tit1 %>
                    </p>

                    <p class="general">
                        <%= description %>
                    </p>

                    <p class="text-info">
                        <%= tit2 %>
                    </p>

                    <p class="general">
                        <%= probstmt %>
                    </p>

                    <p class="text-danger">
                        <%= tit3 %>
                    </p>

                    <p class="general">
                        <%= rules %>
                    </p>

                    <p class="text-muted">
                        <%= tit4 %>
                    </p>

                    <p class="general">
                        <%= judging %>
                    </p>

                    <p class="text-info">
                        <%= tit5 %>
                    </p>

                    <p class="general">
                        <%= rounds %>
                    </p>

                    <p class="text-warning">
                        <%= tit6 %>
                    </p>

                    <p class="general">
                        <%= specifications %>
                    </p>

                    <p class="text-success">
                        <%= tit7 %>
                    </p>

                    <p class="general">
                        <%= contact %>
                    </p>

                    <p>
                        <%= further %>
                    </p>
                </div>
            </div>

            <a href="#0" class="fa fa-close cd-modal-close">Close</a>
        </section>
    </div>
</div>

<br>
<br>

<footer class="no-margin">
    <div class="container-fluid footer-design">

        <div class="row text-center">
            <div class="col-xs-4"><a href="http://facebook.com/gusaccarnival">Team</a> </div>
            <div class="col-xs-4"><a href="/contact">Contact</a></div>
            <div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
        </div>
        <div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
    </div>
</footer>


<script src="../js/jquery-2.1.3.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootswatch.js"></script>
<script src="../js/velocity.min.js"></script>
<script src="../js/main_events.js"></script>
</body>
</html>